.w-sch {
    display: inline-block;
    width: 156px;
    font-size: 0;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ddd;
    padding: 0 8px;
    border-radius: 3px;
    color: #999999;
    background-color: #f7f9f9;
    position: relative;
}
.w-sch.focus {
    border: 1px solid #4fcbcd;
    color: #3d3d3d;
    background-color: #fff;
}
.w-sch > input {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 100%;
    border: 0;
    color: #3b3b3b;
    background-color: transparent;
}
.w-sch.focus > input {
    color: #3d3d3d;
    background-color: #fff;
}
.w-sch i { 
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}
.w-sch > .i-search,
.w-sch.disabled > .i-search,
.w-sch.disabled > .i-search:hover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAdpJREFUOBGVkztLA1EQhbNrsloEBcFCTTAJKFhYKFaCCD5ABDsbS8FKbCzE0n9gKyL4KlRErSzsFKxEBB9FUMkDg0UCAUMIah67fnPZDauowQuzd2bOnHNn7+xqHtfKZDL+fD4/r2nahGVZHUAf+FFsLxwO77tKq67meIlEYgjSJhaGYJJ/xBqJ26SG3KnP55sNBoMvEjtLFycej49ReIa1EM75/f6mSCTSjbVDaoe8DjZeKpWuUqlUs0NWezabbYzFYs/YK2DnF9AV0OEMNRa260p79Fwut0QiqOv6Au09uUG3zx1s0skRuelkMjngYDqtTQK8hUKhHSf5x74mWKVSmXRqdMgRghv2ipP8bec+rgWzOarMSwdCrFdRjUe5XDakxOaoaungAa+HZE0R0zT7hcV9CUctETjE8zHKBTv348YBlGqLGDrmcbUIwGA099g7IoNVwOUImTFu2GNcdUEe9SUylj5ULwAasBWv17vNSKPpdLqhUCj0cuoyIqNCxL8zDGM4EAhkVSwPWfIRFYvFLVw1Ywrf8A2IdfgW773LIcPErcS3iIyISPVfoFhuV6fVKdwJTP1M5KKQ9/mQLnmFLshn5NockS8CIlJrfRM5+beAHGCLHNDJ+SeL1uZoGU5KuQAAAABJRU5ErkJggg==);
}
.w-sch.focus > .i-search,
.w-sch > .i-search:hover {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAiJJREFUOBGVU89rE1EQnnm7myatRBA8aJFSQSEHY7NZL4Uq1ApSKCVVD+pJ8CR66EF6tH+B9GqLtvZgizWmAQ/eKvRU2uwmsaXoXvUo1Pqjhuy+cd6GF1NoCM7hzXsz833z3sw8hBa5tbNzLDioPSSgUQLoQ8AaEewKA5YKtr3cEtrcot7lXPeKDGEegPoRUTLJZwBMAtHpRgy+j1ni/srAwFeNUVqoJbfpXZMS1hDhJIMfWImu40Unmyo6dm/CwF5AmGPi6/Ug3ORbnlAYLXjX95O/9va3OShpGOJSPpPxtbNV50qle5zkBSdYWnXsO9onfu/tT/F7z3D2yXZgFVzIZue5Jnkiuj3ueYNNAkIY40IcmLa9qI3tNBM8i3whjekYQYBnuVjlFcRQG9tpsztWUj4EYkxDTK5yyJYubeigYw3/v2SCr/WJjRce+X5HkuBP3YkIMMJEW24jveFhsb58/zHZYD965eKhlPJxNCNkvNVRwuqOz3ARtyXA9HipMqQdrVqBJ1z3OSe7zB2bLTrpj9ofTeLEVsUOIVjn58S5QE/BMl+a6fRuvFqN/6xTRpJ8wuCRCIRYFT2J4UIq9U2dm6N8w/POhQEt8AhHPVatZX+MMxqASALoFc/3MNtO8TMq2JO4qkiaBIptmkiU3cpNIDnKxz7OWgP+TAaay3nn4kauXD4vA7mm/ocmOUSgSDrJYRJ4998EKoEioUC+5ht++AuN49FCkwGqBwAAAABJRU5ErkJggg==);
}
.w-sch.disabled {
    background-color: #f7f9f9;
}
.w-sch.disabled > input {
    background-color: #999999;
}
