.tree-view {
    position: relative;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tree-leaf {
    display: block;
}
.tree-leaf-content {
    position: relative;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tree-leaf-children {
    padding: 0 0 0 15px;
}
.tree-leaf-expand-icon, .tree-leaf-type-icon, .tree-leaf-check-icon, .tree-leaf-edit-icon {
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tree-leaf-expand-icon, .tree-leaf-check-icon {
    width: 15px;
}
.tree-leaf-expand-icon.invisible {
    visibility: hidden;
}
.tree-leaf-type-icon {
    width: 15px;
}
.tree-leaf-text {
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}
.tree-leaf-children.expanded {
    display: block;
}
.tree-leaf-children.collapsed {
    display: none;
}
.tree-leaf-expand-icon.branch.collapsed {
    background-image: url('../img/plus-t-1x.png');
    background-image: -webkit-image-set(url('../img/plus-t-1x.png') 1x, url('../img/plus-t-2x.png') 2x);
    background-image: -moz-image-set(url('../img/plus-t-1x.png') 1x, url('../img/plus-t-2x.png') 2x);
    background-image: -ms-image-set(url('../img/plus-t-1x.png') 1x, url('../img/plus-t-2x.png') 2x);
    background-image: image-set(url('../img/plus-t-1x.png') 1x, url('../img/plus-t-2x.png') 2x);
}
.tree-leaf-expand-icon.branch.expanded {
    background-image: url('../img/minus-t-1x.png');
    background-image: -webkit-image-set(url('../img/minus-t-1x.png') 1x, url('../img/minus-t-2x.png') 2x);
    background-image: -moz-image-set(url('../img/minus-t-1x.png') 1x, url('../img/minus-t-2x.png') 2x);
    background-image: -ms-image-set(url('../img/minus-t-1x.png') 1x, url('../img/minus-t-2x.png') 2x);
    background-image: image-set(url('../img/minus-t-1x.png') 1x, url('../img/minus-t-2x.png') 2x);
}
.tree-leaf-expand-icon.branch.hasparent.collapsed, .tree-leaf-expand-icon.branch.hasparent.hasnext.collapsed {
    height: 30px;
    background-image: url('../img/dash-p-1x.png');
    background-image: -webkit-image-set(url('../img/dash-p-1x.png') 1x, url('../img/dash-p-2x.png') 2x);
    background-image: -moz-image-set(url('../img/dash-p-1x.png') 1x, url('../img/dash-p-2x.png') 2x);
    background-image: -ms-image-set(url('../img/dash-p-1x.png') 1x, url('../img/dash-p-2x.png') 2x);
    background-image: image-set(url('../img/dash-p-1x.png') 1x, url('../img/dash-p-2x.png') 2x);
}
.tree-leaf-expand-icon.branch.hasparent.expanded, .tree-leaf-expand-icon.branch.hasparent.hasnext.expanded {
    height: 30px;
    background-image: url('../img/dash-m-1x.png');
    background-image: -webkit-image-set(url('../img/dash-m-1x.png') 1x, url('../img/dash-m-2x.png') 2x);
    background-image: -moz-image-set(url('../img/dash-m-1x.png') 1x, url('../img/dash-m-2x.png') 2x);
    background-image: -ms-image-set(url('../img/dash-m-1x.png') 1x, url('../img/dash-m-2x.png') 2x);
    background-image: image-set(url('../img/dash-m-1x.png') 1x, url('../img/dash-m-2x.png') 2x);
}
.tree-leaf-expand-icon.branch.hasparent.collapsed, .tree-leaf-expand-icon.branch.hasparent.expanded {
    background-position-y: -55px;
}
.tree-leaf-expand-icon.branch.hasparent.hasnext.collapsed {
    background-position-y: 50%;
}
.tree-leaf-type-icon.branch {
    background-image: url('../img/mp-1x.png');
    background-image: -webkit-image-set(url('../img/mp-1x.png') 1x, url('../img/mp-2x.png') 2x);
    background-image: -moz-image-set(url('../img/mp-1x.png') 1x, url('../img/mp-2x.png') 2x);
    background-image: -ms-image-set(url('../img/mp-1x.png') 1x, url('../img/mp-2x.png') 2x);
    background-image: image-set(url('../img/mp-1x.png') 1x, url('../img/mp-2x.png') 2x);
}
.tree-leaf-type-icon.leaf {
    background-image: url('../img/sp-1x.png');
    background-image: -webkit-image-set(url('../img/sp-1x.png') 1x, url('../img/sp-2x.png') 2x);
    background-image: -moz-image-set(url('../img/sp-1x.png') 1x, url('../img/sp-2x.png') 2x);
    background-image: -ms-image-set(url('../img/sp-1x.png') 1x, url('../img/sp-2x.png') 2x);
    background-image: image-set(url('../img/sp-1x.png') 1x, url('../img/sp-2x.png') 2x);
}
.tree-leaf-expand-icon.leaf.hasparent.last, .tree-leaf-expand-icon.leaf.hasparent.hasnext {
    height: 30px;
    background-position-x: 5px;
    background-image: url('../img/dash-1x.png');
    background-image: -webkit-image-set(url('../img/dash-1x.png') 1x, url('../img/dash-2x.png') 2x);
    background-image: -moz-image-set(url('../img/dash-1x.png') 1x, url('../img/dash-2x.png') 2x);
    background-image: -ms-image-set(url('../img/dash-1x.png') 1x, url('../img/dash-2x.png') 2x);
    background-image: image-set(url('../img/dash-1x.png') 1x, url('../img/dash-2x.png') 2x);
}
.tree-leaf-expand-icon.leaf.hasparent.last {
    background-position-y: -50px;
}
.tree-leaf-children.dash-line {
    background-image: url('../img/branch-line-1x.png');
    background-image: -webkit-image-set(url('../img/branch-line-1x.png') 1x, url('../img/branch-line-2x.png') 2x);
    background-image: -moz-image-set(url('../img/branch-line-1x.png') 1x, url('../img/branch-line-2x.png') 2x);
    background-image: -ms-image-set(url('../img/branch-line-1x.png') 1x, url('../img/branch-line-2x.png') 2x);
    background-image: image-set(url('../img/branch-line-1x.png') 1x, url('../img/branch-line-2x.png') 2x);
    background-repeat: repeat-y;
    background-position-x: 5px;
}
.tree-leaf-check-icon {
    background-image: url('../img/chk-1x.png');
    background-image: -webkit-image-set(url('../img/chk-1x.png') 1x, url('../img/chk-2x.png') 2x);
    background-image: -moz-image-set(url('../img/chk-1x.png') 1x, url('../img/chk-2x.png') 2x);
    background-image: -ms-image-set(url('../img/chk-1x.png') 1x, url('../img/chk-2x.png') 2x);
    background-image: image-set(url('../img/chk-1x.png') 1x, url('../img/chk-2x.png') 2x);
}
.tree-leaf-check-icon:hover {
    background-image: url('../img/chk-h-1x.png');
    background-image: -webkit-image-set(url('../img/chk-h-1x.png') 1x, url('../img/chk-h-2x.png') 2x);
    background-image: -moz-image-set(url('../img/chk-h-1x.png') 1x, url('../img/chk-h-2x.png') 2x);
    background-image: -ms-image-set(url('../img/chk-h-1x.png') 1x, url('../img/chk-h-2x.png') 2x);
    background-image: image-set(url('../img/chk-h-1x.png') 1x, url('../img/chk-h-2x.png') 2x);
}
.tree-leaf-check-icon.checked {
    background-image: url('../img/chk-ed-1x.png');
    background-image: -webkit-image-set(url('../img/chk-ed-1x.png') 1x, url('../img/chk-ed-2x.png') 2x);
    background-image: -moz-image-set(url('../img/chk-ed-1x.png') 1x, url('../img/chk-ed-2x.png') 2x);
    background-image: -ms-image-set(url('../img/chk-ed-1x.png') 1x, url('../img/chk-ed-2x.png') 2x);
    background-image: image-set(url('../img/chk-ed-1x.png') 1x, url('../img/chk-ed-2x.png') 2x);
}
.tree-leaf-edit-icon {
    width: 12px;
    height: 12px;
    display: none;
    position: absolute;
    top: 2px;
    right: -14px;
    background-image: url('../img/edit-1x.png');
    background-image: -webkit-image-set(url('../img/edit-1x.png') 1x, url('../img/edit-2x.png') 2x);
    background-image: -moz-image-set(url('../img/edit-1x.png') 1x, url('../img/edit-2x.png') 2x);
    background-image: -ms-image-set(url('../img/edit-1x.png') 1x, url('../img/edit-2x.png') 2x);
    background-image: image-set(url('../img/edit-1x.png') 1x, url('../img/edit-2x.png') 2x);
}
.tree-leaf-content:hover .tree-leaf-edit-icon {
    display: block;
}
.tree-search-box {
    /*width: 200px !important;*/
    position: relative;
    margin-bottom: 10px;
}
.tree-search-box > div {
    /*width: 180px !important;*/
    /*width: 100% !important;*/
}
.tree-search-noresult {
    position: relative;
    margin-top: 10px;
    padding: 0 8px;
    color: #999;
    vertical-align: middle;
}