.accordion {
    position: relative;
}
.accordion-item {
    padding: 0 5px;
    border-bottom: 1px solid #ebebeb;
}
.accordion-item > .title {
    height: 50px;
    line-height: 50px;
    position: relative;
}
.accordion-item > .title > i {
    width: 0;
    height: 0;
    border-left: 5px solid #f7f9f9;
    border-right: 5px solid #f7f9f9;
    border-bottom: 5px solid #ccc;
    border-top: 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2.5px;
    cursor: pointer;
}
.accordion-item > .content {
    overflow: auto;
}
.accordion-item.collapsed > .title > i {
    border-top: 5px solid #ccc;
    border-bottom: 0;
}
.accordion-item.collapsed > .content {
    display: none;
}