.partial-loading {
    width: 86px;
    height: 35px;
    padding: 5px;
    margin: 0 auto;
    position: relative;
    background-color: transparent;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.partial-loading > .loading-gif, .partial-loading > .loading-text {
    display: block;
    float: left;
}
.partial-loading > .loading-gif {
    width: 16px;
    height: 25px;
    margin: 0 auto;
    background-image: url('../images/loading1.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 16px 25px;
}
.partial-loading > .loading-text {
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #999;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}